<!DOCTYPE html>
<html>
  <head>
    <title>Cosin11</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
    <div class="jumbotron">
          <div class="container text-center">
              <h1>Music Store</h1>
              <p>CD & DVD</p>
          </div>
    </div>

    <header>
        <nav class="navbar navbar-inverse">
            <div class="collapse navbar-collapse" id="myNavbar">
              <% if user_signed_in? %>
              <ul class="nav navbar-nav">
                <li class="active"><%= link_to ' Home', root_path(current_user.id), class: "glyphicon glyphicon-home" %></li>
                <li><%= link_to ' Mypage', user_path(current_user.id), class: "glyphicon glyphicon-user" %></li>
                <li><%= link_to ' Cart list', cart_path(current_user.id), class: "glyphicon glyphicon-home" %></li>
                <li><%= link_to ' logout', destroy_user_session_path, method: :delete, class: "glyphicon glyphicon-log-out" %></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><p class="navbar-text">ようこそ  <%= current_user.last_name %> <%= current_user.first_name %>  さん！</p></li>
                <li><%= form_tag(root_path, method: "get") do %>
                      <div class="navbar-form navbar-left form-group">
                       <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "商品検索" %>
                       <%= submit_tag "検索", class: "btn btn-default glyphicon glyphicon-search" %>
                       </div>
                    <% end %>

        <!--           <form class="navbar-form navbar-left" role="search">
                           <div class="form-group">
                               <input type="text" class="form-control" placeholder="商品検索">
                           </div>
                           <button type="submit" class="btn btn-default glyphicon glyphicon-search" aria-hidden="true">検索</button>
                    </form>
         -->        </li>
              </ul>
               <% elsif adminster_signed_in? %>
                     <ul class="nav navbar-nav">
                <li class="active"><%= link_to ' Home', root_path(current_adminster.id), class: "glyphicon glyphicon-home" %>
                </li>
                <li><%= link_to ' Users', users_path, class: "glyphicon glyphicon-user" %>
                </li>
                <li><%= link_to ' logout', destroy_user_session_path, method: :delete, class: "glyphicon glyphicon-log-out" %></li>
                <li><%= link_to ' New item', new_item_path, class: "glyphicon glyphicon-star" %></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><p class="navbar-text">管理者ページ</p></li>
              </ul>

              <% else %>

                     <ul class="nav navbar-nav">
                <li class="active"><%= link_to ' Home', root_path, class: "glyphicon glyphicon-home" %>
                </li>
                <li><%= link_to ' Sign up', new_user_registration_path, class: "glyphicon glyphicon-edit" %>
                </li>
                <li><%= link_to ' Login', new_user_session_path, class: "glyphicon glyphicon-log-in" %>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><p class="navbar-text">ようこそ ゲスト さん。</p></li>
                <li><form class="navbar-form navbar-left" role="search">
                           <div class="form-group">
                               <input type="text" class="form-control" placeholder="商品検索">
                           </div>
                           <button type="submit" class="btn btn-default glyphicon glyphicon-search" aria-hidden="true">検索</button>
                    </form>
                </li>
              </ul>
             <% end %>
            </div>
        </nav>
    </header>

    <%= yield %>

		<footer class="container-fluid text-center">
          <p><%= link_to ' @', new_adminster_session_path %>cosin 11</p>
    </footer>
  </body>
</html>
